@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="./css/index.css">
<script src="./js/index.js" defer></script>

<div class="text-center">
    <div class="title-subtitle">
        <h1 class="display-4">Messenger</h1>
        <p>Message your friends today!</p>
    </div>

    <form action="/signup" method="post" id="signup-form">

        <h2>Join today!</h2>

        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="pwd" placeholder="Password"><br>
        <input type="password" name="confirmpwd" placeholder="Confirm password"><br>

        <input type="submit" value="Create account">

    </form>

    <form action="/login" method="post" id="login-form">

        <h2>Already have an account? Sign in!</h2>

        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="pwd" placeholder="Password"><br>

        <input type="submit" value="Sign in">

    </form>

    <button id="switch-mode-btn" onclick="switchLoginMode()">I already have an account</button>

    <p id="error-display"></p>

</div>