@{
    ViewData["Title"] = "Messages";
}

<link rel="stylesheet" href="./css/messenger.css">
<script src="./js/messenger.js" defer></script>

<div class="content">
    <div class="contacts-side">
        <div class="navbar">
            <button class="options-btn" title="Settings">S</button> <!-- Replace S and + with icons later -->
            <button class="add-contact-btn" title="Add contact">+</button>
        </div>

        <div class="contacts-list">
            <button class="contact">Contact 1</button>
            <button class="contact">Contact 2</button>
            <button class="contact">Contact 3</button>
            <button class="contact">Contact 4</button>
            <button class="contact">Contact 5</button>
        </div>
    </div>

    <div class="message-side">
        <div class="message-header" onclick="alert('outside')">
            <button class="message-header-btn search-button" onclick="event.stopPropagation(); alert('inside1')">Search</button>
            <button class="message-header-btn options-button" onclick="event.stopPropagation(); alert('inside2')">Options</button>
        </div>
    </div>
</div>