@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Messages";
    int userId = Context.Session.GetInt32("userid")!.Value;
}

<script>
    const currentUserId = parseInt('@userId');
</script>

<link rel="stylesheet" href="./css/messenger.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<script type="text/javascript" src="./js/messenger.js?v=@DateTime.Now.Ticks" defer></script> 

<div class="content">
    <div class="contacts-side">
        <div class="navbar">
            <button class="options-btn" title="Settings">S</button> <!-- Replace S and + with icons later -->
            <button class="add-contact-btn" title="Add contact">+</button>
            <a href="/logout">Logout</a>
        </div>

        <div class="contacts-list" id='contacts-list'>
            <button class="contact" style="display: none;">CONTACT</button>
        </div>
    </div>

    <div class="message-side">
        <div id="message-header" class="message-header" onclick="alert('outside')">
            <button class="message-header-btn search-button" onclick="event.stopPropagation(); alert('inside1')">Search</button>
            <button class="message-header-btn options-button" onclick="event.stopPropagation(); alert('inside2')">Options</button>
        </div>
    </div>
</div>